<!DOCTYPE html>
<html>
<head>
  <title>Evan Brydels | Software Developer</title>
  <link href="css/layout.css" rel="stylesheet" type="text/css" >
</head>
<body class="max-page-width">
  <nav class="center">
    <ul class ="a">
      <button onclick="openIndexBtn()" class="button1 focus" >Home</button>
      <button onclick="openProjectsBtn()"  class="button1">Projects</button>
      <button onclick="openResumeBtn()" class="button1 ">Resume</button>
      <button onclick="openAboutBtn()"class="button1">About Me</button>
      <button onclick="openContactBtn()"class="button1">Contact</button>
    </ul>
  </nav>
<!-- diff -->  
  <div>
    <span class="title">Software Developer</span>
  </div> 
    <div>
    <span class ="name">Evan Brydels</h2></span>
    <a class="a center">
      <button onclick="openResumeBtn()" class="button2" >Resume</button>
      <button onclick="openContactBtn()" class="button2">Contact</button>
    </a>
  </div> 
</body>
<!-- diff -->  

<script type =text/javascript>
  function openIndexBtn() {
    window.open('index.html','_self'); 
  }
  function openProjectsBtn() {
    window.open('projects.html','_self'); 
    
  } 
  function openResumeBtn(){
    window.open('resume.html','_self');
  }
  function openContactBtn(){
    window.open('contact.html','_self');
  }
  function openAboutBtn(){
    window.open('about.html','_self');
  }
</script> 
</html> 

